html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "sans-serif";
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1::first-letter, h2::first-letter, h3::first-letter {
  font-size: larger;
}

.title {
  text-transform: uppercase;
}

.solution {
  display: none;
}

figure {
  counter-reset: figure;
}

figcaption {
  counter-increment: figure;
}

figcaption:before {
  content: "Figure " counter(figure) ": ";
}

pre code {
  font-size:smaller;
  opacity: 90%;
}
