<figure class="graph-widget widget-frame magician-widget" data-magician-routes>
  <div class="mp-heading"><h3>Two different destinations</h3></div>
  <div data-routes>{% include widgets/magician-routes.svg %}</div>
  <figcaption class="mp-caption mp-legend"><span><i class="mp-key" aria-hidden="true"></i>Powers of two</span><span><i class="mp-key mp-key-other" aria-hidden="true"></i><span>Powers of two × <math xmlns="http://www.w3.org/1998/Math/MathML" aria-label="square root of two"><msqrt><mn>2</mn></msqrt></math>, rounded down</span></span></figcaption>
</figure>
