<!DOCTYPE html>
<html>
  <!-- head -->
  <head>
    <!-- title -->
    <title>Keivan Mirzaei</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <!-- styles -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/w3css/4/w3.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <link
      rel="stylesheet"
      href="/resources/styles.css"
    />
    <!-- codes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="/resources/script.js"></script>
  </head>




  
  
  <script>hljs.highlightAll();</script>



  <!-- body -->
  <body class="w3-light-grey">
    <!-- navigation -->
    <nav
      class="w3-bar w3-teal w3-text-white"
      style="position: sticky; top: 0; z-index: 1"
    >
      <a href="/" class="w3-bar-item w3-button"
        ><i
          class="fa fa-home fa-fw w3-margin-right w3-large w3-text-white"
        ></i
      ></a>
      <a
        href="/pages/math.html"
        class="w3-bar-item w3-button"
        >MATH</a
      >
      <a
        href="/pages/code.html"
        class="w3-bar-item w3-button w3-monospace"
        >CODES</a
      >
      <a
        href="/pages/CV.html"
        class="w3-bar-item w3-button"
        >My CV</a
      >
    </nav>
    <!-- cards container -->
    <div
      class="w3-content w3-margin-top w3-padding"
      id="cards-container"
    ></div>
    <!-- footer -->
    <footer
      class="w3-container w3-teal w3-center w3-margin-top"
    >
      <p>Find me on other platforms</p>
      <a
        href="https://contacts.ucalgary.ca/info/math/profiles/1-11770567"
        ><i
          class="fa fa-university w3-hover-opacity"
        ></i
      ></a>
      <a href="https://github.com/keivan-mirzaei"
        ><i
          class="fa fa-github w3-hover-opacity"
        ></i
      ></a>
      <a
        href="https://www.linkedin.com/in/k1-mirzaei"
        ><i
          class="fa fa-linkedin w3-hover-opacity w3-margin-bottom"
        ></i
      ></a>
    </footer>
  </body>
</html>
